.card_img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resto_card, .show_resto_card {
  margin: 10px 0;
  border: 1px solid #c8d2db;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.resto_card:hover {
  border: 2px solid #666d72;
}

.card_name {
  margin: 8px 0 0 16px;
  font-weight: bold;
}

.card_category {
  position: absolute;
  right: 8px;
  bottom: 4px;
}

.resto_card p, .show_resto_card p {
  margin: 0 0 0 16px;
  padding: 4px 0 0 0;
  font-size: 14px;
}
